* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
} 

.red {
    background-color: #c0392b;
}

.blue {
    background-color: #3498db;
}

.yellow {
    background-color: #f1c40f;
}

.hotPink {
    background-color: #FC427B;
}

.turquoise {
    background-color: #1abc9c;
}

.lightPink {
    background-color: #f78fb3;
}

.peach {
    background-color: #fd7272;
}

.flamingo {
    background-color: #ea8685;
}

.lime {
    background-color: #cddc39;
}

.indigo {
    background-color: #3f51b5;
}

.lavender {
    background-color: #CE93D8;
}

.purple {
    background-color: #6d214f;
}

.pink {
    background-color: #b33771;
}

.green {
    background-color: #99cc99;
}

.col {
    min-height: 100px;
    float: left;
    padding: 0px;
}

.col12 {
    width: 100%;
}

.col11 {
    width: 91.66%;
}

.col10{
    width: 83.33%;
}

.col9 {
    width: 74.99%;
}

.col8 {
    width: 66.66%;
}

.col7 {
    width: 58.33%;
}

.col6 {
    width: 50%;
}

.col5 {
    width: 41.65%;
}

.col4 {
    width: 33.32%;
}

.col3 {
    width: 24.99%;
}

.col2 {
    width: 16.67%;
    top: 50px;
}

.col1 {
    width: 8.33%;
}

body {
    background-color: #bdc3c7;
}

.image {
    width: 100%;
    height: 150px;
    float: left;
    position: relative;
}

.button {
    width: 20%;
    height: 50px;
    top: 230px;
    left: 100px;
    position: absolute;
}

.aside {
    width: 20%;
    height: 500px;
    float: left;
}

.img1 {
    width: 40%;
    height: 80px;
    left: 50px;
    float: left;
    margin: 23px 10px 10px 23px;
}

.img2 {
    width: 40%;
    height: 80px;
    float: left;
    margin: 23px 10px 10px 20px;
}

.img3 {
    width: 88%;
    height: 90px;
    float: left;
    margin: 23px 10px 10px 23px;
}

.img4 {
    width: 40%;
    height: 80px;
    left: 50px;
    float: left;
    margin: 23px 10px 10px 23px;
}

.img5 {
    width: 40%;
    height: 80px;
    float: left;
    margin: 23px 10px 10px 20px;
}

.img6 {
    width: 88%;
    height: 90px;
    float: left;
    margin: 23px 10px 10px 23px;
}

.section {
    width: 60%;
    height: 500px;
    float: left;
}

.rightside {
    width: 20%;
    height: 500px;
    float: left;
}

.footer {
    width: 100%;
    height: 150px;
    float: left;
    bottom: 0;
}

.row:after {
    clear: both;
    display: block;
    content:'';
}

@media screen and (max-width:800px){
    .nav {
    float: none;
    width: 100%;
    position: fixed;
    top:0;
}

    .image {
    float: none;
    width: 100%;
}

    .button {
        width: 40%;
        height: 50px;
        position: absolute;
    } 

    .aside {
        width: 100%;
        height: 500px;
        float: left;
    }

    .img1 {
        width: 87%;
        height: 50px;
        float: left;
    }

    .img2 {
        width: 87%;
        height: 50px;
        float: left;
    }

    .img3 {
        width: 87%;
        height: 50px;
        float: left;
    }

    .img4 {
        width: 87%;
        height: 50px;
        float: left;
    }

    .img5 {
         width: 87%;
        height: 50px;
        float: left;
    }

    .img6 {
         width: 87%;
        height: 50px;
        float: left;
    }

    .section {
         width: 100%;
        height: 80px;
        float: left;
    }

    .rightside {
         width: 100%;
        height: 80px;
        float: left;
    }

    .footer {
         width: 100%;
        height: 80px;
        float: left;
    } 
}

.pageContainer {
max-width: 100%;
margin: 0 auto;
}

#logo {
    position: relative;
    width: 20px;
    height: 20px;
    top: 43px;
    left: 83px;
}

nav {
    width: 100%;
    height: 161px;
    position: relative;
    background-color: #99cc99;
    top: -10px;
    z-index: 1;
    text-align: center;
    border-left: 2px white;
}

ul li {
    top: -200px;
    left: 390px;
    font-family: 'Oswald', sans-serif;
    font-size: 45px;
    font-weight: 300;
    display: inline-block;
    height: 10px;
    margin-right: 120px;
    position: relative;
    padding: 15px 20px;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
    border-radius: 10px;
    letter-spacing: 2px;
}

.button {
    text-decoration: none;
    color: white;
    padding: 15px 25px;
    border-radius: 4px;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    text-transform: lowercase;
    transition: all 0.2s ease-in-out;
}

.glow-button:hover {
    color: black;
}

section {
	width: 100%;
	height: 1085px;
	position: absolute;
	top: 135px;
	margin-bottom: 15px;
	margin-top: 15px;
	z-index: 0;
    background-color: white;
}

#imagelink img{
    width: 100%;
    height: 500px;
    background-color: red;
    padding-bottom: 0px;
}


.outter {
    position: relative;
    bottom: 830px;
    left: 770px;
    width: 400px;
    height:100px;
    background-color: none;
    border: 3px solid white;
}

.inner {
    position: absolute;
    width: 385px;
    height: 85px;
    background-color: white;
    margin: 5px 5px 5px 5px;
    opacity: 0.7;
}

.link {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 13px;
    z-index: 1;
    color: black;
}

iframe {
    width: 100%;
    height: 300px;
}

footer {
    width: 100%;
    height: 40px;
    position: relative;
    bottom: 10px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 13px;
    color: white;
    background-color: #99cc99;
    font-weight: 300;
}